{% extends "layout.html" %}
{% block content %}
<div class="query_submit">
    <h1 class= "text-3xl mb-6">Queried Table:</h1>
    <div>
        <!-- {% for player in players %}
            <p>{{player.p_name}}</p>
        {% endfor %} -->
        <table>
            <tr>
                {% for header in headers %}
                    <th class="bg-gray-200 text-xl px-12 border-black">{{header}}</th>
                {% endfor %}
            </tr>
            {% for player in players %}
            <tr>
                <td>{{player[0].p_name}}</td>
                <td>{{player[0].club_name}}</td>
                <td>{{player[1].goals}}</td>
                <td>{{player[1].assists}}</td>
                <td>{{player[1].tackles}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock content %}